@use "utils";
@use "tooltip";
@use "variables" as v;

:host {
  padding: v.$base-inner-padding;
  cursor: pointer;

  border-radius: v.$base-island-border-radius;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }

}

.post-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  span{
    width: 100%;
  }
}

.remove-button{
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}