@use "variables" as v;

:host{
  min-width: 200px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  @extend .base-island;

}

.post-list{
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
}

.add-button{
  cursor: pointer;
  width: fit-content;
  padding: 8px;
  border: 0px solid transparent;
  border-radius: 4px;

  &:hover{
    background-color: rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 768px) {
  :host{
    max-width: 100%;
    height: auto;
  }
}