@if(post()){
<div class="actions">
  <button class="button edit-button" [routerLink]="['/edit', post()?.id]">Edit</button>
  <button class="button" [disabled]="!hasSelection()" (click)="openDialog()">Annotate</button>
</div>
<hr>
<div class="post-view">
  <h1>{{post()?.title}}</h1>
  <div #postBody class="post-body" [innerHTML]="highlightedHtml()"></div>
</div>
}

<dialog #dialog class="dialog">
  @if(dialogOpened()){
  <app-anotation-edit (closeDialogEvent)="closeDialog()"></app-anotation-edit>
  }

  <button class="close-button" (click)="closeDialog()">X</button>
</dialog>