@if(post()){
<button class="edit-button" [routerLink]="['/edit', post()?.id]">Edit</button>
<button [disabled]="!hasSelection()" (click)="openDialog()">Annotate</button>
<div class="post-view">
  <h1>{{post()?.title}}</h1>
  <div #postBody class="post-body" [innerHTML]="highlightedHtml()"></div>
</div>
}

<dialog #dialog class="dialog">
  @if(dialogOpened()){
  <app-anotation-edit (closeDialogEvent)="closeDialog()"></app-anotation-edit>
  }

  <button class="close-button" (click)="closeDialog()">X</button>
</dialog>