@use "variables" as v;

:host{
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  padding: v.$base-island-padding;
  gap: v.$base-inner-gap;
}

app-footer{
  justify-self: flex-end;
}

.container{
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: v.$base-inner-gap;
  .content{
    flex:1;
    min-width: 0;
    overflow: hidden;
    @extend .base-island;
  }

}

@media (max-width: 768px) {
  .container {
    flex-direction: column;

    .post-list{
      order: 1;
    }

    .annotation-list{
      order: 2;
    }

    .content{
      order: 3;
    }
  }

}