
/* You can add global styles to this file, and also import other style files */
*,html,body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  height: 100dvh;
}

dialog-overlay {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}